body{
     box-shadow: 2px 3px 5px 5px #f1f1f1;
}
div.img{
     background: url("../images/ARC_7907.jpg");
}
div.text p:first-child{
    text-align: center;
    color: var(--maincolor);
    font-weight: bold;
    border-bottom: 4px solid var(--maincolor);
    width: 8%;
    margin: auto;
    font-size: 35px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
div.text{
    border:none;
    width:100%;
    clear:both;
    height: 575px;
}
div.text div.child{
    clear:both;
    height:70px;
    width:100%;
    margin:auto;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px 5px #f1f1f1;
}
div.text div.child p:first-child{
    width:20%;
    height: 70px;
    padding: 15px 5px;
    color:white;
    background: #97cc46;
    float:right;
    font-size: 22px;
    font-weight:bold;
    
}
div.text div.child p:last-child{
    width:80%;
    height: 70px;;
    padding: 20px 50px;
    background: #f1f1f1;
    float:left;
    font-size: 18px;
    
}